<table class="tallyboard">
  <tbody>
    <tr>
      {{#link-to tagName="td" class="settings-gear" action="makeEditable"}}
        "(gear)"
      {{/link-to}}
      {{#each user in model.users}}
        <th class="shorten?">{{user.firstName}}</th>
      {{/each}}
    </tr>
    {{#each chore in chores}}
      <tr>
        <td><strong>{{chore.name}}</strong></td>
        {{#each tally in allRelativeTallies}}
          {{#each user in users}}
            <td>{{tally}}</td>
            {{log "Should log the same username twice:"}}
            {{log tally.user.firsName}}
            {{log user.firstName}}
          {{/each}}
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
</table>
